:root {
  --persoBlue:#4e42d4;
  --persoWhite:#f7f9fb;
  --persoRedTomate:#ef476f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lora, sans-serif;
}
* a {
  text-decoration: none;
}

@font-face {
  font-family: Lora;
  src: url("../../font/Lora-BoldItalic.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: Lora;
  src: url("../../font/Lora-MediumItalic.ttf") format("truetype");
  font-weight: medium;
}
body.hidden {
  overflow: hidden;
}

header {
  width: 100%;
  background: var(--persoBlue);
  color: #fff;
  height: 5rem;
  padding: 0.3rem;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
header #title {
  width: 30%;
  height: 100%;
  padding: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .logo_containner {
  margin: 0 0.3rem;
  width: 40%;
}
header .logo_containner a {
  width: 4rem;
  height: 4rem;
  display: block;
  text-align: center;
  line-height: 4rem;
  font-size: 3.5rem;
  background: var(--persoWhite);
  color: var(--persoBlue);
  border-radius: 50%;
}
header .menuIconContainner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.8s;
  overflow: hidden;
}
header .menuIconContainner span {
  display: block;
  width: 2rem;
  height: 0.4rem;
  background: #dee2e6;
  border-radius: 0.2rem;
  margin: 0.1rem 0.8rem;
}
header .menuIconContainner.rotate {
  transform: rotate(450deg);
}
header aside {
  z-index: 20;
}
header aside .user_info {
  display: flex;
}
header aside .user_info p, header aside .user_info a {
  font-size: 1rem;
  text-transform: capitalize;
  margin: 0.4rem;
  display: flex;
  align-items: center;
  color: var(--persoWhite);
}
header aside .user_info p::before, header aside .user_info a::before {
  content: "";
  width: 25px;
  height: 25px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5rem;
  background-size: cover;
}
header aside .user_info p::before {
  background-image: url("../../icons/user-3296-aside.png");
}
header aside .user_info a:nth-child(3)::before {
  background-image: url("../../icons/home-2490-aside.png");
}
header aside .user_info a:nth-child(4)::before {
  background-image: url("../../icons/turn-off-4782-aside.png");
}

main {
  height: 58vh;
}

footer {
  background: var(--persoBlue);
  width: 100%;
  height: 10vh;
}

@media screen and (max-width: 599px) {
  header aside {
    position: absolute;
    width: 14.6rem;
    top: 5rem;
    left: 0;
    bottom: 0;
    background: #000;
    transition: transform 0.3s;
    overflow: hidden;
    transform: translateX(-14.7rem);
  }
  header aside.visible {
    transform: translateX(0);
  }
  header aside .user_info {
    display: flex;
    flex-direction: column;
  }
  header aside .user_info p, header aside .user_info a {
    font-size: 1.5rem;
    margin: 0.6rem;
  }
  header aside .user_info p::before, header aside .user_info a::before {
    content: "";
    width: 50px;
    height: 50px;
  }
}
@media screen and (min-width: 600px) {
  header .menuIconContainner {
    display: none;
  }
  aside {
    display: flex;
    align-items: center;
  }
}
main {
  height: 90vh;
}

#title_containner {
  margin: 0.6rem;
  text-align: center;
}

#title {
  margin: 1.5rem 0.7rem;
  color: var(--persoWhite);
  background: var(--persoBlue);
  border-radius: 0.7rem;
  padding: 0.3rem;
}

#containner {
  padding: 1rem;
  margin: 0.9rem;
}
#containner .projet_name {
  text-align: center;
  text-transform: uppercase;
}
#containner .card_container {
  margin: 1rem;
}
#containner div {
  margin: 1rem 0;
  width: 100%;
}
#containner div section {
  margin: 1.3rem 0;
  width: 30%;
}
#containner div section a {
  background: var(--persoBlue);
  padding: 0.6rem;
  border-radius: 0.4rem;
  color: var(--persoWhite);
  width: 100%;
  display: block;
  text-align: center;
}
#containner div section a.delete {
  background: tomato;
}
#containner div section a.update {
  background: forestgreen;
}

footer {
  display: none;
}

@media screen and (min-width: 425px) {
  #containner {
    padding: 0.1rem;
  }
  #containner div {
    display: flex;
    flex-wrap: wrap;
  }
  #containner div section {
    margin: 0.6rem;
  }
}
@media screen and (min-width: 550px) {
  #title_containner {
    margin: 0.6rem;
    text-align: right;
  }
  #containner div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media screen and (min-width: 570px) {
  main {
    height: 80vh;
  }
}

/*# sourceMappingURL=cahier_list.css.map */
